<template name="register_kardex">
    <h1>Registro de Kardex</h1>
    <div class="masonry-item col-md-6">
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">FORMULARIO</h6>
            <div class="mT-30">
                <form id="kardexform">
                    <div class="form-group">
                        <label for="inputAddress">NOMBRE:</label>
                        <input type="text" name="nameKardex" autocomplete="off" class="form-control" id="inputAddress" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">APELLIDO:</label>
                        <input type="text" name="surname" class="form-control" id="inputAddres" placeholder="Apellido">
                    </div>
                    <div class="form-row">
                            <div class="form-group col-md-6">
                                    <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="">C.I.:</label>
                                                <input type="text" name="CI" class="form-control" id="inputEmail4" placeholder="C.I.">
                                            </div>
                                        </div>
                            </div>
                            <div class="form-group col-md-6">
                                    <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="">RU:</label>
                                                <input type="text" name="RU" class="form-control" id="inputEmail4" placeholder="RU">
                                            </div>
                                        </div>
                            </div>
                    </div>                    
                    <!--<div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="">IDRA</label>
                            <input type="text" name="IDRA" class="form-control" id="inputEmail4" placeholder="IDDA">
                        </div>
                        </div>-->
                    <div class="form-row">
                            <div class="form-group col-md-6">
                                    <label for="inputAddress">MODALIDAD DE ADMISION:</label>
                            </div>
                            <div class="form-group col-md-6">
                                    <select name="admision" class="btn cur-p btn-outline-info">
                                            <option>PSA</option>
                                            <option>Pre-Universitario</option>
                                    </select>
                            </div>
                    </div>
                    <div class="form-row">
                            <div class="form-group col-md-6">
                                    <label for="inputAddress">TITULO DE BACHILLER:</label>
                            </div>
                            <div class="form-group col-md-6">
                                    <div class="col-sm-10">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="bachiller" id="gridRadios1" value="1" checked>
                                                SI
                                              </label>
                                            </div>
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="bachiller" id="gridRadios2" value="0">
                                              NO
                                              </label>
                                            </div>
                                    </div>     
                            </div>
                    </div>  
                    <div class="form-row">
                            <div class="form-group col-md-6">
                                    <label for="inputAddress">CERTIFICADO DE NACIMIENTO:</label>
                            </div>
                            <div class="form-group col-md-6">
                                    <div class="col-sm-10">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="certnacimiento" id="gridRadios3" value="1" checked>
                                                SI
                                              </label>
                                            </div>
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="certnacimiento" id="gridRadios4" value="0">
                                              NO
                                              </label>
                                            </div>
                                    </div>     
                            </div>
                    </div>
                    <div class="form-row">
                            <div class="form-group col-md-6">
                                    <label for="inputAddress">CARNET DE IDENTIDAD:</label>
                            </div>
                            <div class="form-group col-md-6">
                                    <div class="col-sm-10">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="carnetidentidad" id="gridRadios5" value="1" checked>
                                                SI
                                              </label>
                                            </div>
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="carnetidentidad" id="gridRadios6" value="0">
                                              NO
                                              </label>
                                            </div>
                                    </div>     
                            </div>
                    </div>
                    <div class="form-row">
                            <div class="form-group col-md-6">
                                    <label for="inputAddress">CERTIFICADO DE NOTAS:</label>
                            </div>
                            <div class="form-group col-md-6">
                                    <select name="certnotas" class="btn cur-p btn-outline-info">
                                            <option>VERANO/2010</option>
                                            <option>MESA/2010</option>
                                            <option>01/2010</option>
                                            <option>MESA/2010</option>
                                            <option>02/2010</option>
                                            <option>VERANO/2011</option>
                                            <option>MESA/2011</option>
                                            <option>01/2011</option>
                                            <option>MESA/2011</option>
                                            <option>02/2011</option>
                                            <option>VERANO/2012</option>
                                            <option>MESA/2012</option>
                                            <option>01/2012</option>
                                            <option>MESA/2012</option>
                                            <option>02/2012</option>
                                            <option>VERANO/2013</option>
                                            <option>MESA/2013</option>
                                            <option>01/2013</option>
                                            <option>MESA/2013</option>
                                            <option>02/2013</option>
                                            <option>VERANO/2014</option>
                                            <option>MESA/2014</option>
                                            <option>01/2014</option>
                                            <option>MESA/2014</option>
                                            <option>02/2014</option>
                                            <option>VERANO/2015</option>
                                            <option>MESA/2015</option>
                                            <option>01/2015</option>
                                            <option>MESA/2015</option>
                                            <option>02/2015</option>
                                            <option>VERANO/2016</option>
                                            <option>MESA/2016</option>
                                            <option>01/2016</option>
                                            <option>MESA/2016</option>
                                            <option>02/2016</option>
                                            <option>VERANO/2017</option>
                                            <option>MESA/2017</option>
                                            <option>01/2017</option>
                                            <option>MESA/2017</option>
                                            <option>02/2017</option>
                                            <option>VERANO/2018</option>
                                            <option>MESA/2018</option>
                                            <option>01/2018</option>
                                            <option>MESA/2018</option>
                                            <option>02/2018</option>
                                            <option>VERANO/2019</option>
                                            <option>MESA/2019</option>
                                            <option>01/2019</option>
                                            <option>MESA/2019</option>
                                            <option>02/2019</option>
                                            <option>VERANO/2020</option>
                                            <option>MESA/2020</option>
                                            <option>01/2020</option>
                                            <option>MESA/2020</option>
                                            <option>02/2020</option>
                                            <option>VERANO/2021</option>
                                            <option>MESA/2021</option>
                                            <option>01/2021</option>
                                            <option>MESA/2021</option>
                                            <option>02/2021</option>
                                            <option>VERANO/2022</option>
                                            <option>MESA/2022</option>
                                            <option>01/2022</option>
                                            <option>MESA/2022</option>
                                            <option>02/2022</option>
                                            <option>VERANO/2023</option>
                                            <option>MESA/2023</option>
                                            <option>01/2023</option>
                                            <option>MESA/2023</option>
                                            <option>02/2023</option>
                                            <option>VERANO/2024</option>
                                            <option>MESA/2024</option>
                                            <option>01/2024</option>
                                            <option>MESA/2024</option>
                                            <option>02/2024</option>
                                            <option>VERANO/2025</option>
                                            <option>MESA/2025</option>
                                            <option>01/2025</option>
                                            <option>MESA/2025</option>
                                            <option>02/2025</option>
                                            <option>VERANO/2026</option>
                                            <option>MESA/2026</option>
                                            <option>01/2026</option>
                                            <option>MESA/2026</option>
                                            <option>02/2026</option>
                                            <option>VERANO/2027</option>
                                            <option>MESA/2027</option>
                                            <option>01/2027</option>
                                            <option>MESA/2027</option>
                                            <option>02/2027</option>
                                            <option>VERANO/2028</option>
                                            <option>MESA/2028</option>
                                            <option>01/2028</option>
                                            <option>MESA/2028</option>
                                            <option>02/2028</option>
                                            <option>VERANO/2029</option>
                                            <option>MESA/2029</option>
                                            <option>01/2029</option>
                                            <option>MESA/2029</option>
                                            <option>02/2029</option>
                                            <option>VERANO/2030</option>
                                            <option>MESA/2030</option>
                                            <option>01/2030</option>
                                            <option>MESA/2030</option>
                                            <option>02/2030</option>
                                    </select>
                            </div>
                    </div>
                    <div class="form-row">
                            <div class="form-group col-md-6">
                                    <label for="inputAddress">MATRICULA:</label>
                            </div>
                            <div class="form-group col-md-6">
                                    <select name="matricula" class="btn cur-p btn-outline-info">
                                                <option>1/2010</option>
                                                <option>2/2010</option>
                                                <option>1/2011</option>
                                                <option>2/2011</option>
                                                <option>1/2012</option>
                                                <option>2/2012</option>
                                                <option>1/2013</option>
                                                <option>2/2013</option>
                                                <option>1/2014</option>
                                                <option>2/2014</option>
                                                <option>1/2015</option>
                                                <option>2/2015</option>
                                                <option>1/2016</option>
                                                <option>2/2016</option>
                                                <option>1/2017</option>
                                                <option>2/2017</option>
                                                <option>1/2018</option>
                                                <option>2/2018</option>
                                                <option>1/2019</option>
                                                <option>2/2019</option>
                                                <option>1/2020</option>
                                                <option>2/2020</option>
                                                <option>1/2021</option>
                                                <option>2/2021</option>
                                                <option>1/2022</option>
                                                <option>2/2022</option>
                                                <option>1/2023</option>
                                                <option>2/2023</option>
                                                <option>1/2024</option>
                                                <option>2/2024</option>
                                                <option>1/2025</option>
                                                <option>2/2025</option>
                                                <option>1/2026</option>
                                                <option>2/2026</option>
                                                <option>1/2027</option>
                                                <option>2/2027</option>
                                                <option>1/2028</option>
                                                <option>2/2028</option>
                                                <option>1/2029</option>
                                                <option>2/2029</option>
                                                <option>1/2030</option>
                                                <option>2/2030</option>
                                    </select>
                            </div>
                    </div>             
                    <button type="submit" class="btn cur-p btn-info">Save</button>
                    <button type="reset" class="btn cur-p btn-danger">Cancelar</button>
                    <!--<button type="button" id="test" class="btn btn-light">prueba</button>-->
                </form>
            </div>
        </div>
    </div>
</template>