<template name="viewKardex">
    <div class="bgc-white bd bdrs-3 p-20 mB-20">
    <h1>Kardex disponibles</h1>
    <div class="x_content">
            <button class="incomplet badge badge-pill fl-r badge-danger lh-0 p-10">PENDIENTES</button>
            <button class="complet badge badge-pill fl-r badge-success lh-0 p-10">COMPLETOS</button>
            <button class="allIC badge badge-pill fl-r btn cur-p c-brown-500 lh-0 p-10">TODOS</button>
            <input type="text" id="myInput" placeholder="Search for RU..">
    <table id="dataTable" class="table table-hover table-bordered" cellspacing="0" width="100%">
        <thead class="thead-light">
            <tr>
                <th>N°</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <!--<th>IDRE</th>-->
                <th style="width:1px;white-space:nowrap;">C.I.</th>
                <th style="width:1px;white-space:nowrap;" >RU</th>
                <th style="width:1px;white-space:nowrap;">Estado</th>
                <th style="width:1px;white-space:nowrap;">Kardex</th>
                <th style="width:1px;white-space:nowrap;">Subir</th>
                <th style="width:1px;white-space:nowrap;">Ver</th>
                <th style="width:1px;white-space:nowrap;">Editar</th>
                <th style="width:1px;white-space:nowrap;">Añadir C M</th>
                <th style="width:1px;white-space:nowrap;">Imprimir</th>
            </tr>
        </thead>
        <tbody>
            {{#each getKardex}}
                <tr>
                        <th>{{index @index}}</th>
                        <th>{{nameKardex}}</th>
                        <th>{{surname}}</th>
                        <!--<th>{{IDRA}}</th>-->
                        <th>{{CI}}</th>
                        <th>{{RU}}</th>
                        <th>{{{stateKardex this}}}</th>
                        <td><button class="viewKardexAll ti-eye btn cur-p btn-success"></button></td><!--<th>VER</th>-->
                        <td><button class="viewAlbum ti-upload btn cur-p btn-danger"></button></td><!--<th>SUBIR IMAGENES</th>-->
                        <td><button class="view ti-gallery btn cur-p btn-warning"></button></td><!--<th>VER IMAGENES</th>-->
                        <td><button class="editKardex ti-pencil-alt btn cur-p btn-info"></button></td><!--<th>EDITAR</th>-->
                        <td><button class="editKardexCertMat ti-pencil btn cur-p btn-info"></button></td><!--<th>EDITAR</th>-->
                        <td><button class="ti-printer btn cur-p c-brown-500 reportFormDate" id=""></button></td><!--<th>imprimir</th>-->
                        <!--<td><button class="ti-trash btn cur-p btn-outline-danger"></button></td><th>DAR DE BAJA</th>-->
                </tr>
            {{/each}}
        </tbody>
    </table>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-material" id="newalbum">
                        <div class="form-group">
                                <label class="col-md-12">Subir Imagenes</label>
                                <div class="col-md-12">
                                    <input type="file" multiple id="imagesAlbum" class="form-control form-control-line" name="filesAlbums">
                                    <span class="span-error"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-success">Guardar Album</button>
                                    </div>
                                </div>

                            <div class='list-group gallery'>
                                                                               
                                </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">cerrar</button>
            </div>
          </div>
      
        </div>
      </div>

      <div id="myModalViewImages" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg" style="width: 65%;">
                <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                                <div class="row white-box">
                                        <div class="card-body">
                                                {{#each imagesView}}
                                                <div class="col-sm-4 col-xs-6 col-md-3 col-lg-3">
                                                      <a class=" thumbnail fancybox" rel="ligthbox">
                                                          <img width="720" height="660" class="img-responsive" alt="" src="{{this}}"/>
                                                          <div class="text-right">
                                                             <small class="text-muted"></small>
                                                            <button class="DeleteImag ti-trash btn cur-p btn-outline-danger" rca="{{@index}}"></button>
                                                          </div>
                                                      </a>
                                                   </div>
                                                {{/each}}
                                        </div>
                                    </div>
                        </div>
    
                
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
        </div>
        </div>
        </div>
<!--<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="imagemodalModal-4" style="display: none;" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="pop">
                  <img src=""{{this}}"" class="imagepreview" style="width: 100%;" >
                  <div class="text-right">
                    <small class="text-muted"></small>
                    <button class="DeleteImag ti-trash btn cur-p btn-outline-danger" rca="{{@index}}"></button>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
    </div>

    
    ver kardex completo-->
       <div id="myModalViewKardex" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg" style="width: 65%;">
                    <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                    {{#with ViewKardexAll}}
                                    <div class="row white-box">
                                            <div class="card-body" >
                                                    
                                                    <thead alt src="{{this}}" >
                                                            <tr>
                                                                <th>Nombre: </th>
                                                                <th>{{nameKardex}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Apellido: </th>
                                                                <th>{{surname}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>C.I.: </th>
                                                                <th>{{CI}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>RU: </th>
                                                                <th>{{RU}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Modalidad de Admision: </th>
                                                                <th>{{admision}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Titulo de Bachiller: </th>
                                                                <th>{{checkPresent bachiller}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Certificado de Nacimiento: </th>
                                                                <th>{{checkPresent certnacimiento}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Carnet Legalizado: </th>
                                                                <th>{{checkPresent carnetidentidad}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Certificado de Notas: </th>
                                                                <th>{{certnotas}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Matricula: </th>
                                                                <th>{{matricula}}</th>
                                                            </tr>
                                                        </thead>
                                                    
                                                    
                                            </div>
                                    </div>
                                    {{/with}}
                            </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
        </div>
        <div id="myModaleditKardex" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg" style="width: 65%;">
                    <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                        <div class="modal-body">
                             
                                <form id="editkardexform">
                                    {{#with editKardex}}
                                    <h1>Editar Datos del Kardex</h1>
                                        <div class="form-group">
                                            <label for="inputAddress">NOMBRE:</label>
                                            <input type="text" name="nameKardex" autocomplete="off" class="form-control" id="inputAddress" placeholder="Nombre" value="{{nameKardex}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAddress">APELLIDO:</label>
                                            <input type="text" name="surname" class="form-control" id="inputAddres" placeholder="Apellido" value="{{surname}}">
                                        </div>
                                        <div class="form-row">
                                                <div class="form-group col-md-6">
                                                        <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="">C.I.:</label>
                                                                    <input type="text" name="CI" class="form-control" id="inputEmail4" placeholder="C.I." value="{{CI}}">
                                                                </div>
                                                            </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                        <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="">RU:</label>
                                                                    <input type="text" name="RU" class="form-control" id="inputEmail4" placeholder="RU" value="{{RU}}">
                                                                </div>
                                                            </div>
                                                </div>
                                        </div>                    
                                        <div class="form-row">
                                                <div class="form-group col-md-6">
                                                        <label for="inputAddress">MODALIDAD DE ADMISION:</label>
                                                </div>
                                                <div class="form-group col-md-6">
                                                        <select name="admision" class="btn cur-p btn-outline-info">
                                                                <option {{checksec admision "PSA"}}>PSA</option>
                                                                <option {{checksec admision "Pre-Universitario"}}>Pre-Universitario</option>
                                                        </select>
                                                </div>
                                        </div>
                                        <div class="form-row">
                                                <div class="form-group col-md-6">
                                                        <label for="inputAddress">TITULO DE BACHILLER:</label>
                                                </div>
                                                <div class="form-group col-md-6">
                                                        <div class="col-sm-10">
                                                                <div class="form-check">
                                                                  <label class="form-check-label">
                                                                    <input class="form-check-input" type="radio" name="bachiller" id="gridRadios1" value="1" checked="{{#if bachiller}} checked {{/if}}">
                                                                    SI
                                                                  </label>
                                                                </div>
                                                                <div class="form-check">
                                                                  <label class="form-check-label">
                                                                    <input class="form-check-input" type="radio" name="bachiller" id="gridRadios2" value="0" checked="{{#unless bachiller}} checked {{/unless}}">
                                                                  NO
                                                                  </label>
                                                                </div>
                                                        </div>     
                                                </div>
                                        </div>  
                                        <div class="form-row">
                                                <div class="form-group col-md-6">
                                                        <label for="inputAddress">CERTIFICADO DE NACIMIENTO:</label>
                                                </div>
                                                <div class="form-group col-md-6">
                                                        <div class="col-sm-10">
                                                                <div class="form-check">
                                                                  <label class="form-check-label">
                                                                    <input class="form-check-input" type="radio" name="certnacimiento" id="gridRadios3" value="1" checked="{{#if certnacimiento}} checked {{/if}}">
                                                                    SI
                                                                  </label>
                                                                </div>
                                                                <div class="form-check">
                                                                  <label class="form-check-label">
                                                                    <input class="form-check-input" type="radio" name="certnacimiento" id="gridRadios4" value="0" checked="{{#unless certnacimiento}} checked {{/unless}}">
                                                                  NO
                                                                  </label>
                                                                </div>
                                                        </div>     
                                                </div>
                                        </div>
                                        <div class="form-row">
                                                <div class="form-group col-md-6">
                                                        <label for="inputAddress">CARNET DE IDENTIDAD:</label>
                                                </div>
                                                <div class="form-group col-md-6">
                                                        <div class="col-sm-10">
                                                                <div class="form-check">
                                                                  <label class="form-check-label">
                                                                    <input class="form-check-input" type="radio" name="carnetidentidad" id="gridRadios5" value="1" checked="{{#if carnetidentidad}} checked {{/if}}">
                                                                    SI
                                                                  </label>
                                                                </div>
                                                                <div class="form-check">
                                                                  <label class="form-check-label">
                                                                    <input class="form-check-input" type="radio" name="carnetidentidad" id="gridRadios6" value="0" checked="{{#unless carnetidentidad}} checked {{/unless}}">
                                                                  NO
                                                                  </label>
                                                                </div>
                                                        </div>     
                                                </div>
                                        </div>
                                        <div class="form-row">
                                                <div class="form-group col-md-6">
                                                        <label for="inputAddress">CERTIFICADO DE NOTAS:</label>
                                                </div>
                                                <div class="form-group col-md-6">
                                                        <select name="certnotas" class="btn cur-p btn-outline-info">
                                                                <option {{checksec admision "VERANO/2010"}}>VERANO/2010</option>
                                                                <option {{checksec admision "MESA/2010"}}>MESA/2010</option>
                                                                <option {{checksec admision "01/2010"}}>01/2010</option>
                                                                <option {{checksec admision "MESA/2010"}}>MESA/2010</option>
                                                                <option {{checksec admision "02/2010"}}>02/2010</option>
                                                                <option {{checksec admision "VERANO/2011"}}>VERANO/2011</option>
                                                                <option {{checksec admision "MESA/2011"}}>MESA/2011</option>
                                                                <option {{checksec admision "01/2011"}}>01/2011</option>
                                                                <option {{checksec admision "MESA/2011"}}>MESA/2011</option>
                                                                <option {{checksec admision "02/2011"}}>02/2011</option>
                                                                <option {{checksec admision "PSA"}}>VERANO/2012</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2012</option>
                                                                <option {{checksec admision "PSA"}}>01/2012</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2012</option>
                                                                <option {{checksec admision "PSA"}}>02/2012</option>
                                                                <option {{checksec admision "PSA"}}>VERANO/2013</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2013</option>
                                                                <option {{checksec admision "PSA"}}>01/2013</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2013</option>
                                                                <option {{checksec admision "PSA"}}>02/2013</option>
                                                                <option {{checksec admision "PSA"}}>VERANO/2014</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2014</option>
                                                                <option {{checksec admision "PSA"}}>01/2014</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2014</option>
                                                                <option {{checksec admision "PSA"}}>02/2014</option>
                                                                <option {{checksec admision "PSA"}}>VERANO/2015</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2015</option>
                                                                <option {{checksec admision "PSA"}}>01/2015</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2015</option>
                                                                <option {{checksec admision "PSA"}}>02/2015</option>
                                                                <option {{checksec admision "PSA"}}>VERANO/2016</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2016</option>
                                                                <option {{checksec admision "PSA"}}>01/2016</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2016</option>
                                                                <option {{checksec admision "PSA"}}>02/2016</option>
                                                                <option {{checksec admision "PSA"}}>VERANO/2017</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2017</option>
                                                                <option {{checksec admision "PSA"}}>01/2017</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2017</option>
                                                                <option {{checksec admision "PSA"}}>02/2017</option>
                                                                <option {{checksec admision "PSA"}}>VERANO/2018</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2018</option>
                                                                <option {{checksec admision "PSA"}}>01/2018</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2018</option>
                                                                <option {{checksec admision "PSA"}}>02/2018</option>
                                                                <option {{checksec admision "VERANO/2019"}}>VERANO/2019</option>
                                                                <option {{checksec admision "MESA/2019"}}>MESA/2019</option>
                                                                <option {{checksec admision "01/2019"}}>01/2019</option>
                                                                <option {{checksec admision "MESA/2019"}}>MESA/2019</option>
                                                                <option {{checksec admision "02/2019"}}>02/2019</option>
                                                                <option {{checksec admision "PSA"}}>VERANO/2020</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2020</option>
                                                                <option {{checksec admision "PSA"}}>01/2020</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2020</option>
                                                                <option {{checksec admision "PSA"}}>02/2020</option>
                                                                <option {{checksec admision "PSA"}}>VERANO/2021</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2021</option>
                                                                <option {{checksec admision "01/2021"}}>01/2021</option>
                                                                <option {{checksec admision "MESA/2021"}}>MESA/2021</option>
                                                                <option {{checksec admision "02/2021"}}>02/2021</option>
                                                                <option {{checksec admision "VERANO/2022"}}>VERANO/2022</option>
                                                                <option {{checksec admision "MESA/2022"}}>MESA/2022</option>
                                                                <option {{checksec admision "01/2022"}}>01/2022</option>
                                                                <option {{checksec admision "MESA/2022"}}>MESA/2022</option>
                                                                <option {{checksec admision "02/2022"}}>02/2022</option>
                                                                <option {{checksec admision "VERANO/2023"}}>VERANO/2023</option>
                                                                <option {{checksec admision "MESA/2023"}}>MESA/2023</option>
                                                                <option {{checksec admision "01/2023"}}>01/2023</option>
                                                                <option {{checksec admision "MESA/2023"}}>MESA/2023</option>
                                                                <option {{checksec admision "02/2023"}}>02/2023</option>
                                                                <option {{checksec admision "VERANO/2024<"}}>VERANO/2024</option>
                                                                <option {{checksec admision "MESA/2024<"}}>MESA/2024</option>
                                                                <option {{checksec admision "01/2024"}}>01/2024</option>
                                                                <option {{checksec admision "MESA/2024"}}>MESA/2024</option>
                                                                <option {{checksec admision "02/2024"}}>02/2024</option>
                                                                <option {{checksec admision "VERANO/2025"}}>VERANO/2025</option>
                                                                <option {{checksec admision "MESA/2025"}}>MESA/2025</option>
                                                                <option {{checksec admision "01/2025"}}>01/2025</option>
                                                                <option {{checksec admision "MESA/2025"}}>MESA/2025</option>
                                                                <option {{checksec admision "02/2025"}}>02/2025</option>
                                                                <option {{checksec admision "VERANO/2026"}}>VERANO/2026</option>
                                                                <option {{checksec admision "MESA/2026"}}>MESA/2026</option>
                                                                <option {{checksec admision "01/2026"}}>01/2026</option>
                                                                <option {{checksec admision "MESA/2026"}}>MESA/2026</option>
                                                                <option {{checksec admision "02/2026"}}>02/2026</option>
                                                                <option {{checksec admision "VERANO/2027"}}>VERANO/2027</option>
                                                                <option {{checksec admision "MESA/2027"}}>MESA/2027</option>
                                                                <option {{checksec admision "01/2027"}}>01/2027</option>
                                                                <option {{checksec admision "MESA/2027"}}>MESA/2027</option>
                                                                <option {{checksec admision "02/2027"}}>02/2027</option>
                                                                <option {{checksec admision "VERANO/2028"}}>VERANO/2028</option>
                                                                <option {{checksec admision "MESA/2028"}}>MESA/2028</option>
                                                                <option {{checksec admision "01/2028"}}>01/2028</option>
                                                                <option {{checksec admision "MESA/2028"}}>MESA/2028</option>
                                                                <option {{checksec admision "02/2028"}}>02/2028</option>
                                                                <option {{checksec admision "VERANO/2029"}}>VERANO/2029</option>
                                                                <option {{checksec admision "MESA/2029"}}>MESA/2029</option>
                                                                <option {{checksec admision "01/2029"}}>01/2029</option>
                                                                <option {{checksec admision "MESA/2029"}}>MESA/2029</option>
                                                                <option {{checksec admision "02/2029"}}>02/2029</option>
                                                                <option {{checksec admision "VERANO/2030"}}>VERANO/2030</option>
                                                                <option {{checksec admision "MESA/2030"}}>MESA/2030</option>
                                                                <option {{checksec admision "01/2030"}}>01/2030</option>
                                                                <option {{checksec admision "MESA/2030"}}>MESA/2030</option>
                                                                <option {{checksec admision "02/2030"}}>02/2030</option>
                                                        </select>
                                                </div>
                                        </div>
                                        <div class="form-row">
                                                <div class="form-group col-md-6">
                                                        <label for="inputAddress">MATRICULA:</label>
                                                </div>
                                                <div class="form-group col-md-6">
                                                        <select name="matricula" class="btn cur-p btn-outline-info">
                                                                <option {{checksec admision "1/2010"}}>1/2010</option>
                                                                <option {{checksec admision "2/2010"}}>2/2010</option>
                                                                <option {{checksec admision "1/2011"}}>1/2011</option>
                                                                <option {{checksec admision "2/2011"}}>2/2011</option>
                                                                <option {{checksec admision "1/2012"}}>1/2012</option>
                                                                <option {{checksec admision "2/2012"}}>2/2012</option>
                                                                <option {{checksec admision "1/2013"}}>1/2013</option>
                                                                <option {{checksec admision "2/2013"}}>2/2013</option>
                                                                <option {{checksec admision "1/2014"}}>1/2014</option>
                                                                <option {{checksec admision "2/2014"}}>2/2014</option>
                                                                <option {{checksec admision "1/2015"}}>1/2015</option>
                                                                <option {{checksec admision "2/2015"}}>2/2015</option>
                                                                <option {{checksec admision "1/2016"}}>1/2016</option>
                                                                <option {{checksec admision "2/2016"}}>2/2016</option>
                                                                <option {{checksec admision "1/2017"}}>1/2017</option>
                                                                <option {{checksec admision "2/2017"}}>2/2017</option>
                                                                <option {{checksec admision "1/2018"}}>1/2018</option>
                                                                <option {{checksec admision "2/2018"}}>2/2018</option>
                                                                <option {{checksec admision "1/2019"}}>1/2019</option>
                                                                <option {{checksec admision "2/2019"}}>2/2019</option>
                                                                <option {{checksec admision "1/2020"}}>1/2020</option>
                                                                <option {{checksec admision "2/2020"}}>2/2020</option>
                                                                <option {{checksec admision "1/2021"}}>1/2021</option>
                                                                <option {{checksec admision "2/2021"}}>2/2021</option>
                                                                <option {{checksec admision "1/2022"}}>1/2022</option>
                                                                <option {{checksec admision "2/2022"}}>2/2022</option>
                                                                <option {{checksec admision "1/2023"}}>1/2023</option>
                                                                <option {{checksec admision "2/2023"}}>2/2023</option>
                                                                <option {{checksec admision "1/2024"}}>1/2024</option>
                                                                <option {{checksec admision "2/2024"}}>2/2024</option>
                                                                <option {{checksec admision "1/2025"}}>1/2025</option>
                                                                <option {{checksec admision "2/2025"}}>2/2025</option>
                                                                <option {{checksec admision "1/2026"}}>1/2026</option>
                                                                <option {{checksec admision "2/2026"}}>2/2026</option>
                                                                <option {{checksec admision "1/2027"}}>1/2027</option>
                                                                <option {{checksec admision "2/2027"}}>2/2027</option>
                                                                <option {{checksec admision "1/2028"}}>1/2028</option>
                                                                <option {{checksec admision "2/2028"}}>2/2028</option>
                                                                <option {{checksec admision "1/2029"}}>1/2029</option>
                                                                <option {{checksec admision "2/2029"}}>2/2029</option>
                                                                <option {{checksec admision "1/2030"}}>1/2030</option>
                                                                <option {{checksec admision "2/2030"}}>2/2030</option>
                                                        </select>
                                                </div>
                                        </div>
                                        <button type="submit" class="btn cur-p btn-info">Save</button>
                                        <button type="reset" class="btn cur-p btn-danger">Cancelar</button>
                                        <!--<button type="button" id="test" class="btn btn-light">prueba</button>-->
                                    {{/with}}
                                </form>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                </div>
                        </div> 
                     </div> 
                </div> 
        </div>
        <div id="myModaleditCM" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg" style="width: 65%;">
                    <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                        <div class="modal-body">
                                <form id="SumCertMatr">
                                    <!--{{#with editKardex}}-->
                                    <h1>Añadir datos al Kardex</h1>
                                        <div class="form-row">
                                                <div class="form-group col-md-6">
                                                        <label for="inputAddress">CERTIFICADO DE NOTAS:</label>
                                                </div>
                                                <div class="form-group col-md-6">
                                                        <select name="certnotas" class="btn cur-p btn-outline-info">
                                                                <option>VERANO/2010</option>
                                                                <option>MESA/2010</option>
                                                                <option>01/2010</option>
                                                                <option>MESA/2010</option>
                                                                <option>02/2010</option>
                                                                <option>VERANO/2011</option>
                                                                <option>MESA/2011</option>
                                                                <option>01/2011</option>
                                                                <option {{checksec admision "MESA/2011"}}>MESA/2011</option>
                                                                <option {{checksec admision "02/2011"}}>02/2011</option>
                                                                <option {{checksec admision "PSA"}}>VERANO/2012</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2012</option>
                                                                <option {{checksec admision "PSA"}}>01/2012</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2012</option>
                                                                <option {{checksec admision "PSA"}}>02/2012</option>
                                                                <option {{checksec admision "PSA"}}>VERANO/2013</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2013</option>
                                                                <option {{checksec admision "PSA"}}>01/2013</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2013</option>
                                                                <option {{checksec admision "PSA"}}>02/2013</option>
                                                                <option {{checksec admision "PSA"}}>VERANO/2014</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2014</option>
                                                                <option {{checksec admision "PSA"}}>01/2014</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2014</option>
                                                                <option {{checksec admision "PSA"}}>02/2014</option>
                                                                <option {{checksec admision "PSA"}}>VERANO/2015</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2015</option>
                                                                <option {{checksec admision "PSA"}}>01/2015</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2015</option>
                                                                <option {{checksec admision "PSA"}}>02/2015</option>
                                                                <option {{checksec admision "PSA"}}>VERANO/2016</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2016</option>
                                                                <option {{checksec admision "PSA"}}>01/2016</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2016</option>
                                                                <option {{checksec admision "PSA"}}>02/2016</option>
                                                                <option {{checksec admision "PSA"}}>VERANO/2017</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2017</option>
                                                                <option {{checksec admision "PSA"}}>01/2017</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2017</option>
                                                                <option {{checksec admision "PSA"}}>02/2017</option>
                                                                <option {{checksec admision "PSA"}}>VERANO/2018</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2018</option>
                                                                <option {{checksec admision "PSA"}}>01/2018</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2018</option>
                                                                <option {{checksec admision "PSA"}}>02/2018</option>
                                                                <option {{checksec admision "VERANO/2019"}}>VERANO/2019</option>
                                                                <option {{checksec admision "MESA/2019"}}>MESA/2019</option>
                                                                <option {{checksec admision "01/2019"}}>01/2019</option>
                                                                <option {{checksec admision "MESA/2019"}}>MESA/2019</option>
                                                                <option {{checksec admision "02/2019"}}>02/2019</option>
                                                                <option {{checksec admision "PSA"}}>VERANO/2020</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2020</option>
                                                                <option {{checksec admision "PSA"}}>01/2020</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2020</option>
                                                                <option {{checksec admision "PSA"}}>02/2020</option>
                                                                <option {{checksec admision "PSA"}}>VERANO/2021</option>
                                                                <option {{checksec admision "PSA"}}>MESA/2021</option>
                                                                <option {{checksec admision "01/2021"}}>01/2021</option>
                                                                <option {{checksec admision "MESA/2021"}}>MESA/2021</option>
                                                                <option {{checksec admision "02/2021"}}>02/2021</option>
                                                                <option {{checksec admision "VERANO/2022"}}>VERANO/2022</option>
                                                                <option {{checksec admision "MESA/2022"}}>MESA/2022</option>
                                                                <option {{checksec admision "01/2022"}}>01/2022</option>
                                                                <option {{checksec admision "MESA/2022"}}>MESA/2022</option>
                                                                <option {{checksec admision "02/2022"}}>02/2022</option>
                                                                <option {{checksec admision "VERANO/2023"}}>VERANO/2023</option>
                                                                <option {{checksec admision "MESA/2023"}}>MESA/2023</option>
                                                                <option {{checksec admision "01/2023"}}>01/2023</option>
                                                                <option {{checksec admision "MESA/2023"}}>MESA/2023</option>
                                                                <option {{checksec admision "02/2023"}}>02/2023</option>
                                                                <option {{checksec admision "VERANO/2024<"}}>VERANO/2024</option>
                                                                <option {{checksec admision "MESA/2024<"}}>MESA/2024</option>
                                                                <option {{checksec admision "01/2024"}}>01/2024</option>
                                                                <option {{checksec admision "MESA/2024"}}>MESA/2024</option>
                                                                <option {{checksec admision "02/2024"}}>02/2024</option>
                                                                <option {{checksec admision "VERANO/2025"}}>VERANO/2025</option>
                                                                <option {{checksec admision "MESA/2025"}}>MESA/2025</option>
                                                                <option {{checksec admision "01/2025"}}>01/2025</option>
                                                                <option {{checksec admision "MESA/2025"}}>MESA/2025</option>
                                                                <option {{checksec admision "02/2025"}}>02/2025</option>
                                                                <option {{checksec admision "VERANO/2026"}}>VERANO/2026</option>
                                                                <option {{checksec admision "MESA/2026"}}>MESA/2026</option>
                                                                <option {{checksec admision "01/2026"}}>01/2026</option>
                                                                <option {{checksec admision "MESA/2026"}}>MESA/2026</option>
                                                                <option {{checksec admision "02/2026"}}>02/2026</option>
                                                                <option {{checksec admision "VERANO/2027"}}>VERANO/2027</option>
                                                                <option {{checksec admision "MESA/2027"}}>MESA/2027</option>
                                                                <option {{checksec admision "01/2027"}}>01/2027</option>
                                                                <option {{checksec admision "MESA/2027"}}>MESA/2027</option>
                                                                <option {{checksec admision "02/2027"}}>02/2027</option>
                                                                <option {{checksec admision "VERANO/2028"}}>VERANO/2028</option>
                                                                <option {{checksec admision "MESA/2028"}}>MESA/2028</option>
                                                                <option {{checksec admision "01/2028"}}>01/2028</option>
                                                                <option {{checksec admision "MESA/2028"}}>MESA/2028</option>
                                                                <option {{checksec admision "02/2028"}}>02/2028</option>
                                                                <option {{checksec admision "VERANO/2029"}}>VERANO/2029</option>
                                                                <option {{checksec admision "MESA/2029"}}>MESA/2029</option>
                                                                <option {{checksec admision "01/2029"}}>01/2029</option>
                                                                <option {{checksec admision "MESA/2029"}}>MESA/2029</option>
                                                                <option {{checksec admision "02/2029"}}>02/2029</option>
                                                                <option {{checksec admision "VERANO/2030"}}>VERANO/2030</option>
                                                                <option {{checksec admision "MESA/2030"}}>MESA/2030</option>
                                                                <option {{checksec admision "01/2030"}}>01/2030</option>
                                                                <option {{checksec admision "MESA/2030"}}>MESA/2030</option>
                                                                <option {{checksec admision "02/2030"}}>02/2030</option>
                                                        </select>
                                                </div>
                                        </div>
                                        <div class="form-row">
                                                <div class="form-group col-md-6">
                                                        <label for="inputAddress">MATRICULA:</label>
                                                </div>
                                                <div class="form-group col-md-6">
                                                        <select name="matricula" class="btn cur-p btn-outline-info">
                                                                <option>1/2010</option>
                                                                <option>2/2010</option>
                                                                <option>1/2011</option>
                                                                <option>2/2011</option>
                                                                <option>1/2012</option>
                                                                <option {{checksec admision "2/2012"}}>2/2012</option>
                                                                <option {{checksec admision "1/2013"}}>1/2013</option>
                                                                <option {{checksec admision "2/2013"}}>2/2013</option>
                                                                <option {{checksec admision "1/2014"}}>1/2014</option>
                                                                <option {{checksec admision "2/2014"}}>2/2014</option>
                                                                <option {{checksec admision "1/2015"}}>1/2015</option>
                                                                <option {{checksec admision "2/2015"}}>2/2015</option>
                                                                <option {{checksec admision "1/2016"}}>1/2016</option>
                                                                <option {{checksec admision "2/2016"}}>2/2016</option>
                                                                <option {{checksec admision "1/2017"}}>1/2017</option>
                                                                <option {{checksec admision "2/2017"}}>2/2017</option>
                                                                <option {{checksec admision "1/2018"}}>1/2018</option>
                                                                <option {{checksec admision "2/2018"}}>2/2018</option>
                                                                <option {{checksec admision "1/2019"}}>1/2019</option>
                                                                <option {{checksec admision "2/2019"}}>2/2019</option>
                                                                <option {{checksec admision "1/2020"}}>1/2020</option>
                                                                <option {{checksec admision "2/2020"}}>2/2020</option>
                                                                <option {{checksec admision "1/2021"}}>1/2021</option>
                                                                <option {{checksec admision "2/2021"}}>2/2021</option>
                                                                <option {{checksec admision "1/2022"}}>1/2022</option>
                                                                <option {{checksec admision "2/2022"}}>2/2022</option>
                                                                <option {{checksec admision "1/2023"}}>1/2023</option>
                                                                <option {{checksec admision "2/2023"}}>2/2023</option>
                                                                <option {{checksec admision "1/2024"}}>1/2024</option>
                                                                <option {{checksec admision "2/2024"}}>2/2024</option>
                                                                <option {{checksec admision "1/2025"}}>1/2025</option>
                                                                <option {{checksec admision "2/2025"}}>2/2025</option>
                                                                <option {{checksec admision "1/2026"}}>1/2026</option>
                                                                <option {{checksec admision "2/2026"}}>2/2026</option>
                                                                <option {{checksec admision "1/2027"}}>1/2027</option>
                                                                <option {{checksec admision "2/2027"}}>2/2027</option>
                                                                <option {{checksec admision "1/2028"}}>1/2028</option>
                                                                <option {{checksec admision "2/2028"}}>2/2028</option>
                                                                <option {{checksec admision "1/2029"}}>1/2029</option>
                                                                <option {{checksec admision "2/2029"}}>2/2029</option>
                                                                <option {{checksec admision "1/2030"}}>1/2030</option>
                                                                <option {{checksec admision "2/2030"}}>2/2030</option>
                                                        </select>
                                                </div>
                                        </div>
                                        <button type="submit" class="btn cur-p btn-info">Save</button>
                                        <button type="reset" class="btn cur-p btn-danger">Cancelar</button>
                                        <!--<button type="button" id="test" class="btn btn-light">prueba</button>-->
                                   <!-- {{/with}}-->
                                </form>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                </div>
                        </div> 
                     </div> 
                </div> 
        </div>
    </div>
</template>