<template name="login">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Sign In</title>
       <!-- <style>
          #loader {
            transition: all 0.3s ease-in-out;
            opacity: 1;
            visibility: visible;
            position: fixed;
            height: 100vh;
            width: 100%;
            background: #fff;
            z-index: 90000;
          }
          #loader.fadeOut {
            opacity: 0;
            visibility: hidden;
          }
          .spinner {
            width: 40px;
            height: 40px;
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            background-color: #333;
            border-radius: 100%;
            -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
            animation: sk-scaleout 1.0s infinite ease-in-out;
          }
          @-webkit-keyframes sk-scaleout {
            0% { -webkit-transform: scale(0) }
            100% {
              -webkit-transform: scale(1.0);
              opacity: 0;
            }
          }
          @keyframes sk-scaleout {
            0% {
              -webkit-transform: scale(0);
              transform: scale(0);
            } 100% {
              -webkit-transform: scale(1.0);
              transform: scale(1.0);
              opacity: 0;
            }
          }
        </style>-->
      </head>
      <body class="app">
        <div id='loader'>
          <div class="spinner"></div>
        </div>
    
        <script>
          window.addEventListener('load', function load() {
            const loader = document.getElementById('loader');
            setTimeout(function() {
              loader.classList.add('fadeOut');
            }, 300);
          });
        </script>
        <div class="peers ai-s fxw-nw h-100vh">
          <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style='background-image: url("/images/fondo.jpg")'>
            <div class="pos-a centerXY">
              <div class="bgc-white bdrs-50p pos-r" style='width: 120px; height: 120px;'>
                <img class="pos-a centerXY" src="/images/logo.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style='background-image: url("/images/fondo2.png")'>
            <h4 align='center' class="text-normal text-white">Login</h4>
            {{>atForm}}
          </div>
        </div>
      </body>
</template>
<!--<form>
              <div class="form-group">
                <label class="text-normal text-white">Username</label>
                <input type="text" class="form-control" placeholder="User">
              </div>
              <div class="form-group">
                <label class="text-normal text-white">Password</label>
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <div class="form-group">
                <div class="peers ai-c jc-sb fxw-nw">
                  <div class="peer">
                    <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                      <input type="checkbox" id="inputCall1" name="inputCheckboxesCall" class="peer">
                      <label for="inputCall1" class=" peers peer-greed js-sb ai-c">
                        <span class="peer peer-greed text-white">Remember Me</span>
                      </label>
                    </div>
                  </div>
                  <div class="peer">
                    <button class="btn btn-primary">Login</button>
                  </div>
                </div>
              </div>
            </form>-->