<template name="signup">
    <h1>Registro de Usuarios</h1>
    <div class="masonry-item col-md-6">
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">FORMULARIO</h6>
            <form>
            <div class="mT-30">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Usuario</label>
                            <input type="text" name="username" class="form-control" id="inputEmail4" placeholder="Nombre de usuario">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-row">
                            <div class="form-group col-md-2">
                                    <label for="inputAddress">Cargo:</label>
                            </div>
                            <div class="form-group col-md-6">
                                    <select name="cargo" class="btn cur-p btn-outline-info">
                                            <option>Director</option>
                                            <option>Secretetaria</option>
                                            <option>Mensajero</option>
                                    </select>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Nombre</label>
                        <input type="text" name="name" class="form-control" id="inputAddress" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Apellido</label>
                        <input type="text" name="lastname" class="form-control" id="inputAddres" placeholder="Apellido">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Email</label>
                        <input type="email" name="email" class=" form-control" id="inputAddress2" placeholder="Email">
                    </div>
            </div>
            <button type="submit" class="btn cur-p btn-info">Save</button>
            <button type="reset" class="btn cur-p btn-danger">Cancelar</button>
        </form>
        </div>
    </div>
</template>